{% extends 'recipes/base.html' %}

{% block content %}
<div class="d-flex align-items-center mb-4">
    <a href="{% url 'home' %}" class="btn btn-outline-secondary me-3">
        <i class="fas fa-arrow-left"></i> Назад
    </a>
    <h1 class="mb-0">Рецепты в категории "{{ category.name }}"</h1>
</div>

<div class="row">
    {% for recipe in recipes %}
        <div class="col-md-4 mb-4">
            <div class="card">
                <img src="{{ recipe.image.url }}" class="card-img-top" alt="{{ recipe.title }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.title }}</h5>
                    <p class="card-text">{{ recipe.description|truncatewords:10 }}</p>
                    <a href="{% url 'recipe_detail' recipe.pk %}" class="btn btn-primary">Посмотреть рецепт</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}